/*
* {

	margin:0px;
	padding:0px;
}
*/

.caixa {
	
	display:none;
}

.caixa1 {
	
	position:absolute;
	top:15px;
	left:0px;
	background-color: seagreen;
	opacity:0.8;
		/*border: solid 5px #222;*/
	border-radius: 4px;
	z-index: 1;
}

.caixa1 a {

	color: white;
	font-feature-settings: bold;
}
.caixa6 {

	display:none;
	position:absolute;
	top:20px;
	left:0px;
	background-color: violet;
	opacity:0.8;
	border: solid 5px #222;
	z-index: 1;
}


.titulo {

	/*cursor:not-allowed;*/
	display: inline;


}

.titulo_dont_show {

	display: none;
}
/*
h4:hover {
	background-color: yellow;
}

h4:hover .caixa6 {
  
  display:  block;
  
}

*/
h4:active {
  background-color: #F80000; 
}

h4 {

	margin-bottom: 0px;
}

 h5 {

	margin-bottom: 0px;
	margin-top: 0px;
}


.titfixo {
	position: fixed;
	width: 1600px;  
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	top:0px; 
	background-color: tomato;/*#FFFFFF;*/
	opacity: 1;
	z-index: 1;
}



.scrollhorizon {
	page-break-inside: avoid;
	background-color: seagreen;
	/*max-width: 200%;*/
	width: 1600px; 
	top:23px;
	position: fixed;
	z-index: 1;

}

.scrollhorizon1 {
	page-break-inside: avoid;
	background-color: tomato;
	width: 1600px;
	/*margin:0px;*/
	bottom:0px;
	/*right: 0px;*/

	position: fixed;
	z-index: 1;

}

.relativinho {
	top:70px;
	/*bottom:0px;*/

	position: relative;

}

.scrollhorizon ul {
	
	display: inline-block;
	padding-inline-start:10px;
	margin-top: 5px
	margin-bottom: 10px;

}

.ulmargens {

	margin-top: 10px
	margin-bottom: 5px;

}

.scrollhorizon ul li{
	page-break-inside: avoid;
	display: inline;
	position:relative;
	top:0px;
	padding-left: 15px;
}

.elh4 {
	page-break-inside: avoid;
	display: inline;
	position:relative;
	top:0px;
	padding-left: 15px;
	
}

.scrollhorizon1 ul li{
	page-break-inside: avoid;
	display: inline;
}

.moldura {

	/*border: solid 7px #777;*/
	display: inline-block;
	/*
	max-width: 30%;
	min-width: 7%;
	*/
	


}

.scrollhorizon_show ul li{
	page-break-inside: avoid;
	display: inline;
	pointer-events: none;

	/*position:relative;*/

}
.scrollhorizon_dont_show ul li{
	page-break-inside: avoid;
	display: none;

}


*.caixa1 {

	min-width:200px;
}

